<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>364432173196-d0atq5evb5tmd5p1la5qbgmg5a9fcean.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364432173196-d0atq5evb5tmd5p1la5qbgmg5a9fcean</string>
	<key>API_KEY</key>
	<string>AIzaSyAHncciS3zqjxgvzncQY8lFsd5WNFrxI98</string>
	<key>GCM_SENDER_ID</key>
	<string>364432173196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>promatics.BarberBueaty</string>
	<key>PROJECT_ID</key>
	<string>barberbeauty-a6ef9</string>
	<key>STORAGE_BUCKET</key>
	<string>barberbeauty-a6ef9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364432173196:ios:d6c569f337fd0eee</string>
	<key>DATABASE_URL</key>
	<string>https://barberbeauty-a6ef9.firebaseio.com</string>
</dict>
</plist>